.suggestions {
    list-style-type: none;
    max-height: 200px;
    height: 100%;
    overflow-y: auto;
    color: grey;
    li {
      padding: 5px 10px;
      font-size: 20px;
      cursor: pointer;
      color: white;
      &:hover, &:focus{
        background-color: blueviolet;
      }
    }
    p {
      text-align: center;
    }
}
  
  